.detail {
        margin: 0 auto;
        max-width: 1400px;
        @apply text-white;
        min-height: 740px;
}

@media screen and (max-width: 1200px) {
    .detail {
        max-width: 100%;
    }

    .header {
        @apply mt-20 ml-2 mr-2;
    }

    .infoBlock {
        @apply mt-2 ml-2 mr-2;
    }

    .timeframes {
        @apply mt-2 ml-2 mr-2;
        max-width: 100%;
    } 

    .chartComponent {
        @apply mt-2 ml-2 mr-2;
    }
}

.header {
    height: 125px;
    max-width: 1400px;
    font-family: 'Montserrat', sans-serif;
    @apply mt-24 rounded-xl bg-widgetColor flex-center-between;

    .heading {
        @apply flex-center-between;

        .el {
            @apply ml-2 text-xl mb-1 mr-2;
        }
    }

    .currency {
        @apply text-sm ml-2;
    }
    
    .img {
        @apply rounded-full mt-2 ml-2;
    }

    .name {
        @apply ml-3 text-xl;
    }
    
}

@media  screen and (max-width:768px){
    .header {
        max-width: 100%;
        @apply flex-column;

        .interactiveBtn {
            width: 96%;
            @apply ml-5 mb-2;
        }

        .heading {
            width: 100%;
            @apply mr-5 mb-2;
            .img {
                width:50px;
                height: 50px;
            }
        }
    }
}

.currency {
    @apply text-sm ml-2;
}

.grPrice {
    @apply text-sm text-greenPrice;
}

.rPrice {
    @apply text-sm text-red-400;
}

.interactiveBtn {
    width: 400px;
    height: 75px;
    border-width:1px; 
    @apply border-solid rounded-lg border-bgColor mr-5;
    transition: 0.6s;
    box-shadow: 4px 4px 8px 0px rgba(6, 7, 9, 0.9);
    &:hover {
        @apply border-primary;
    }
} 


/* info block */

.infoBlock {
    max-width: 1400px;
    height: 80px;
    font-family: 'Montserrat', sans-serif;
    @apply mt-6 rounded-xl text-xs bg-widgetColor flex-center-between pl-3 pr-5;
}

.priceContainer {
    @apply flex-center-between;
}

.curPrice {
    @apply mr-1;
}

@media screen and (max-width: 768px) {
    .infoBlock {
        max-width: 100%;
        @apply flex-column;
        align-items: flex-start;
    }
    
}


/* timeframe buttons */ 
.timeframes {
    max-width: 1400px;
    font-family: 'Montserrat', sans-serif;
    @apply flex-center-between mt-6;

    button {
        font-family: 'Montserrat', sans-serif;
        width: 320px;
        border-width: 1px;
        @apply bg-widgetColor rounded-xl border-solid border-widgetColor;
        transition: 0.6s;
        &:hover {
            @apply border-primary;
        }
    }
}

@media screen and (max-width: 768px) {
    .timeframes {
        max-width: 100%;
        @apply flex-column;
        
        button {
            @apply w-full mt-1 mb-1;
        }
    }
}
/* chart */

.chartComponent {
    width: 1400px;
    height: 680px;
    @apply bg-widgetColor rounded-xl mt-5;
    canvas {
        @apply p-2;
    }
}

.tvChart {
    @apply mt-6;
    height: 680px;
}

@media screen and (max-width: 768px) {
    .chartComponent {
        width:96%;
        height: 100%;
    }
}